:root {
  --table-border-color: hsl(40, 16%, 83%);
  --table-border: solid var(--table-border-color) 1px;
  --navigation-color: hsl(175, 82%, 57%);
}

body {
  margin: 0;
  font-family: sans-serif;
}

section.table {
  margin: auto 1.5em;
}

.inputArea {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.1em;
}

input {
  height: 1.7em;
  width: 50%;
}

h3 {
  width: 100%;
  text-align: center;
}

div.table {
  display: grid;
  grid: 1fr / minmax(40px, 0.5fr) repeat(5, minmax(120px, 1fr));
  border-left: var(--table-border);
  border-bottom: var(--table-border);
}

@media (max-width: 720px) {
  div.table {
    grid: 1fr / minmax(30px, 0.5fr) repeat(5, minmax(100px, 1fr));
    overflow: scroll;
  }
}

#head,
.row {
  display: contents;
}

#head span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#head {
  text-transform: uppercase;
  color: hsl(40, 75%, 45%);
}

div.table span {
  padding: .2em;
  font-size: 90%;
  border-top: var(--table-border);
}

@media (max-width: 600px) {
  div.table span {
    font-size: 2.5vw;
  }
}

@media (min-width: 601px) and (max-width: 720px) {
  div.table span {
    font-size: 2vw;
  }
}

div.table span:nth-of-type(2n) {
  border-left: var(--table-border);
  border-right: var(--table-border);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 2em;
}

.buttons button {
  height: 1.7em;
  width: 1.7em;
  margin: .2em;
  font-size: 1.5em;
  border: solid var(--navigation-color) 2px;
  background-color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.buttons button:hover {
  cursor: pointer;
  background-color: var(--navigation-color);
}
