:root {
  --table-border-color: hsl(40, 16%, 83%);
  --table-border: solid var(--table-border-color) 1px;
  --table-header-font-color: hsl(40, 75%, 45%);
}

body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  justify-content: center;
}

section.table {
  margin: auto 5vw;
  width: 100%;
  max-width: 1400px;
}

.inputArea {
  width: 100%;
  margin-top: 3vh;
  margin-bottom: 2.6vw;
  font-size: 73%;
}

input {
  height: 170%;
  max-height: 2vw;
  width: 75%;
  border: var(--table-header-font-color) solid 1px;
}

div.table {
  display: grid;
  grid: 1fr / minmax(30px, 0.5fr) minmax(120px, 1fr) minmax(110px, 1fr) repeat(3, minmax(90px, 1fr));
  border-left: var(--table-border);
  border-bottom: var(--table-border);
  overflow: scroll;
}

#head,
.row {
  display: contents;
}

#head span:hover {
  cursor: pointer;
  text-decoration: underline;
}

#head {
  text-transform: uppercase;
  color: hsl(40, 75%, 45%);
}

div.table span {
  padding: .7vh;
  font-size: 73%;
  border-top: var(--table-border);
}

div.table span:nth-of-type(2n) {
  border-left: var(--table-border);
  border-right: var(--table-border);
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.buttons button {
  height: 3.5vh;
  width: 13%;
  max-height: 2.6vw;
  max-width: 40px;
  margin: .4vw;
  font-size: 90%;
  border: solid var(--table-header-font-color) 1px;
  background-color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.buttons button:hover {
  cursor: pointer;
  background-color: var(--table-header-font-color);
}

@media (min-width: 600px) {
  .inputArea {
    font-size: 90%;
  }

  div.table {
    overflow: visible;
  }

  div.table span {
    font-size: 80%;
  }

  .buttons button {
    width: 10%;
  }
}

@media (min-width: 800px) {
  .inputArea {
    height: 1.5vh;
    font-size: 100%;
  }

  div.table span {
    font-size: 90%;
  }

  .buttons button {
    width: 5%;
  }
}
